<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hossainkhan.android.demo">

    <application
        android:name=".base.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.browse.BrowseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.layoutpreview.BaseActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:name=".ui.layoutpreview.VisibilityGoneActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:name=".ui.layoutpreview.ChainStyleActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:name=".ui.layoutpreview.GuidelineBarrierActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:name=".ui.layoutpreview.GuidelineGroupActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:name=".ui.layoutpreview.DimensionMinMaxActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:name=".ui.functionaldemo.MovieDetailsActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:name=".ui.functionaldemo.TedTalkPlaybackActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
        <activity
            android:label="@string/additional_resource_title"
            android:name=".ui.resource.LearningResourceActivity"
            android:parentActivityName=".ui.browse.BrowseActivity" />
    </application>

</manifest>